<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'dialog'"
      [mode]="(isHandset$ | async) ? 'over' : 'over'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a *ngIf="loggedIn" mat-list-item routerLink="/movies" (click)="clearMessages() && (drawer.mode === 'side' || drawer.close())">
        <mat-icon>theaters</mat-icon>Home
      </a>
      <a *ngIf="loggedIn && shareOffers == 0" mat-list-item routerLink="/collections" (click)="clearMessages() && (drawer.mode === 'side' || drawer.close())">
        <mat-icon>dashboard_customize</mat-icon>Collections
      </a>
      <a *ngIf="loggedIn && shareOffers > 0" mat-list-item routerLink="/collections" (click)="clearMessages() && (drawer.mode === 'side' || drawer.close())">
        <mat-icon>dashboard_customize</mat-icon><span [matBadge]="shareOffers">Collections</span>
      </a>
      <a *ngIf="loggedIn" mat-list-item href="#">
        <mat-icon>saved_search</mat-icon>IMDB Search
      </a>
      <a *ngIf="loggedIn" mat-list-item href="#">
        <mat-icon>person</mat-icon>My Account
      </a>
      <a *ngIf="admin" mat-list-item href="#">
        <mat-icon>group</mat-icon>User Admin
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="flexContainer" color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PMDB</span>
      <span class="spacer"></span>
      <div *ngIf="loggedIn">
        <span style="padding-left: 10px; padding-right: 10px;">User: {{username}}</span>
        <button mat-button type="button" (click)="logout()">LOGOUT</button>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
