.error {
  background-color: red;
  color: white;
}

.warn {
  background-color: orange;
  color: white;
}

.info {
  background-color: green;
  color: white;
}

.flexContainer {
  display: flex;
  margin-bottom: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.message {
  padding: 10px;
}
