<h1>{{movie?.name}}</h1>
<button mat-mini-fab type="button" color="primary" routerLink="/movies"><mat-icon>arrow_back</mat-icon></button>
<button mat-raised-button type="button" [routerLink]="['/editMovie', movie?.id]">Edit</button>
<mat-grid-list cols="4" rowHeight="40px">
  <ng-container *ngFor="let attribute of movie?.attributes | keyvalue">
    <mat-grid-tile>
      <div class="gridtile">{{attribute.key}}</div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <div class="gridtile">{{attribute.value}}</div>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
