<h1>Create New Movie Collection</h1>
<form [formGroup]="collectionForm" (ngSubmit)="onSubmit()">

  <input hidden="true" matInput formControlName="id">

  <app-form-field label="Movie Collection Name" [control]="collectionForm.get('name')" class="fullWidth">
    <input matInput formControlName="name"/>
  </app-form-field><br/>

  <mat-checkbox matInput formControlName="cloud">
    Store this collection on AWS Cloud
  </mat-checkbox><br/>
  <button mat-raised-button type="button" routerLink="/collections">Cancel</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="!collectionForm.valid">Save</button>
</form>
