<!--<ul *ngFor="let movie of movies">
  <li>{{movie.id}} : {{movie.name}}</li>
</ul>-->
<mat-card>
  <mat-card-header>
    <mat-card-title>{{defaultCollectionInfo?.collection.name}}</mat-card-title>
    <mat-card-subtitle>Current Movie Collection</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <form [formGroup]="movieSearchForm" (ngSubmit)="onSearch()">
      <mat-form-field>
        <input matInput formControlName="search">
      </mat-form-field><button mat-icon-button type="submit"><mat-icon>search</mat-icon></button>
      <div style="display: inline-block; text-align: center;">
        <span style="color: grey">ADD MOVIE</span><br/>
        <div style="border-top: 1px solid grey; padding-top: 5px">
          <button type="button" mat-raised-button>From IMDB</button>
          <button type="button" mat-raised-button routerLink="/addMovie">Manual Entry</button>
        </div>
      </div>
      <button mat-raised-button>Configure Columns</button>
    </form>
  </mat-card-actions>
</mat-card>
<table mat-table [dataSource]="moviesTableDataSource" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let movie"><a [routerLink]="['/movieDetail', movie.id]">{{movie.name}}</a></td>
  </ng-container>
  <ng-container *ngFor="let attrName of attrNames">
    <ng-container [matColumnDef]="attrName"> <!-- note since using variable reference, we have brackets around matColumnDef -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{attrName}}</th>
      <td mat-cell *matCellDef="let movie">{{movie.attributes.get(attrName)}}</td>
    </ng-container>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay">
  </tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
